//=require actiontext

@import "bootstrap/scss/bootstrap";


//@import 'font_awesome5_webfont';

 /* STYLE PAGE */


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


/* Menu */

.navbar {
  /* padding: 1.3rem 1rem; */
  -webkit-box-shadow: 0px 10px 43px -20px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 10px 43px -20px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 10px 43px -20px rgba(0, 0, 0, 0.39);
}

.navbar-toggler {
  margin-right: 15px;
}

.fixed-top {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1030 !important;
}

.navbar {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-light {
  background-color: #fff !important;
}

a.nav-link {
  font-size: 18px;
  margin-right: 30px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #004668;
}

.active {
  color: #004668 !important;
  background-color: #eee;
  border-radius: 6px;
}

.logo_topo {
  margin-left: 25px;
  margin-right: 50px;
  width: 230px;
}


/* Banner */

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.banner_head {
  /* background-color: #004668; */
  /* background-color: #0094ca; */
  background: rgb(0, 70, 104);
  background: linear-gradient(90deg, rgba(0, 70, 104, 1) 35%, rgba(0, 148, 202, 1) 100%);
}

.banner_head img {
  width: 100%;
}

.text_banner {
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -40%);
  width: auto;
}

.text_banner h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.text_banner ul {
  margin-top: 25px;
  margin-bottom: 50px !important;
}

.text_banner ul li {
  color: #fff;
  margin-top: 5px;
  font-weight: bold;
}

.button_saiba_mais {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 25px;
  color: #fff;
  font-weight: bold;
}

.button_saiba_mais:hover {
  background-color: #fff;
  color: #0094ca;
  cursor: pointer;
  text-decoration: none;
}


/* Separador */

.separador {
  height: 8px;
  background-color: #ddd;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Nossos Produtos */

.nossos_produtos {
  padding: 65px 0px;
}

.nossos_produtos h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: #004668;
  margin-bottom: 50px;
}

.nossos_produtos h3 {
  font-weight: bold;
  color: #004668;
}

.nossos_produtos p {
  margin-bottom: 50px;
}

.nossos_produtos .button_saiba_mais {
  border: 2px solid #004668;
  border-radius: 30px;
  padding: 15px 25px;
  color: #004668;
  font-weight: bold;
  margin-bottom: 40px;
}

.nossos_produtos .button_saiba_mais:hover {
  background-color: #004668;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}


/* Informações */

.informacoes {
  background: rgb(0, 70, 104);
  background: linear-gradient(90deg, rgba(0, 70, 104, 1) 35%, rgba(0, 148, 202, 1) 100%);
}

.informacoes img {
  width: 100%;
}

.text_info {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.text_info h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.text_info h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}

.text_info a {
  color: #fff;
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 40px;
}

.text_info a:hover {
  background-color: #fff;
  color: #0094ca;
  text-decoration: none;
}


/* Quem Somos */

.quem_somos {
  padding: 65px 0px;
}

.quem_somos h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: #004668;
  margin-bottom: 50px;
}

.quem_somos h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #004668;
}

.quem_somos .bold {
  color: #004668;
  font-weight: bold;
}


/* Contato */

.contato {
  background: rgb(0, 70, 104);
  background: linear-gradient(90deg, rgba(0, 70, 104, 1) 35%, rgba(0, 148, 202, 1) 100%);
}

.contato img {
  width: 100%;
}

.btn_contato {
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -40%);
  width: auto;
}

.btn_contato h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 50px;
}

.button_contato {
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 25px;
  color: #fff;
  font-weight: bold;
  margin: 10px 0px;
  display: block;
  text-align: center;
}

.button_contato:hover {
  background-color: #fff;
  color: #0094ca;
  cursor: pointer;
  text-decoration: none;
}


/* Footer */

.line {
  height: 10px;
  background-color: #0094ca;
  margin-top: 20px;
}

.footer {
  background-color: #004668;
  padding: 40px 0px;
}

.footer img {
  margin: 10px 0px;
  width: 200px;
}

.footer p {
  color: #fff;
  margin-bottom: 5px;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}

.footer ul li {
  display: inline;
}

.footer ul li:after {
  content: "|";
  color: #fff;
  margin: 0px 15px;
}

.footer ul li:last-child:after {
  content: "";
}

.footer ul li a {
  color: #fff;
  margin-right: 10px;
}


/* BREAKPOINTS Gerais */

@media (max-width: 319px) {}

@media (min-width: 320px) and (max-width: 480px) {
  .logo_topo {
      width: 100px;
      margin: 0px;
  }
  .fixed-top {
      top: 0px
  }
  .banner_head {
      height: 425px;
      /* margin-top: 60px; */
  }
  .banner_head img {
      display: none;
  }
  .text_banner {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      /* text-align: center; */
  }
  .text_banner h2 {
      font-size: 22px;
  }
  .text_banner ul {
      padding-left: 30px;
      margin: 25px 0px !important;
  }
  .text_banner ul li {
      font-size: 18px;
  }
  .button_saiba_mais {
      font-size: 14px;
  }
  .informacoes {
      height: 700px;
  }
  .informacoes img {
      display: none;
  }
  .text_info {
      left: 50%;
  }
  .contato {
      height: 350px;
  }
  .contato img {
      display: none;
  }
  .btn_contato {
      width: 80%;
      top: 45%;
      left: 50%;
  }
  .footer ul li:after {
      content: "";
  }
  .footer ul li {
      display: block;
  }
  .active {
      background-color: transparent;
  }
  .nossos_produtos h2,
  .quem_somos h2 {
      text-align: left;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .logo_topo {
      width: 100px;
      margin: 0px;
  }
  .fixed-top {
      top: 0px !important;
  }
  .nav-item {
      margin-top: 20px;
  }
  .banner_head {
      height: 425px;
      /* margin-top: 60px; */
  }
  .banner_head img {
      display: none;
  }
  .text_banner {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      /* text-align: center; */
  }
  .text_banner h2 {
      font-size: 22px;
  }
  .text_banner ul {
      padding-left: 30px;
      margin: 25px 0px !important;
  }
  .text_banner ul li {
      font-size: 18px;
  }
  .button_saiba_mais {
      font-size: 14px;
  }
  .informacoes {
      height: 700px;
  }
  .informacoes img {
      display: none;
  }
  .text_info {
      width: 80%;
      left: 50%;
  }
  .contato {
      height: 350px;
  }
  .contato img {
      display: none;
  }
  .btn_contato {
      width: 80%;
      left: 50%;
  }
  .footer ul li:after {
      content: "";
  }
  .footer ul li {
      display: block;
  }
  .active {
      background-color: transparent;
  }
  .nossos_produtos h2,
  .quem_somos h2 {
      text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .logo_topo {
      width: 150px;
      margin: 0px;
  }
  .nav-item {
      margin-top: 20px;
  }
  .text_banner h2 {
      font-size: 18px;
  }
  .text_banner ul {
      margin-top: 11px;
      margin-bottom: 20px !important;
  }
  .text_banner ul li {
      font-size: 16px;
  }
  .button_saiba_mais {
      font-size: 14px;
  }
  .text_info {
      top: 53%;
  }
  .text_info h2 {
      font-size: 18px;
  }
  .text_info h4 {
      font-size: 12px;
      margin-top: 25px;
      margin-bottom: 13px;
  }
  .text_info a {
      font-size: 12px;
      padding: 5px 15px;
  }
  .btn_contato h2 {
      font-size: 30px;
  }
  .button_contato {
      font-size: 16px;
  }
  .active {
      background-color: transparent;
  }
  .nossos_produtos h2,
  .quem_somos h2 {
      text-align: left;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .logo_topo {
      margin: 0px;
  }
  .text_banner h2 {
      font-size: 24px;
  }
  .nav-item {
      margin-top: 20px;
  }
  .text_banner ul li {
      font-size: 20px;
  }
  .button_saiba_mais {
      font-size: 16px;
  }
  .text_info h2 {
      font-size: 28px;
  }
  .text_info h4 {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 25px;
  }
  .text_info a {
      font-size: 14px;
  }
  .btn_contato h2 {
      font-size: 30px;
  }
  .button_contato {
      font-size: 16px;
  }
  .active {
      background-color: transparent;
  }
  .nossos_produtos h2,
  .quem_somos h2 {
      text-align: left;
  }
}

@media (min-width: 1201px) {
  .text_banner h2 {
      font-size: 30px;
  }
  .text_banner ul li {
      font-size: 26px;
  }
  .button_saiba_mais {
      font-size: 22px;
  }
}
